/* altera a fonte do documento inteiro */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* altera cores do texto e adiciona a divisão de cores */
body {
    color: white;    
    font-size: 1.3rem;
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-repeat: no-repeat;
    background: rgb(232,232,232);
    background: linear-gradient(301deg,
    rgba(232,232,232,1) 0%,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,1) 41%,
    rgb(0, 3, 165) 41%);
}

/* posiciona o header na posição solicitada */
#header {
    margin: 5px;
    margin-bottom: 25px;
}

/* ajusta medidas e retira o ponto de cada item na lista */
#listaProdutos {
    list-style: none;    
    width: 100%;
    max-width: 200px;
}

/* configura a caixinha de cada item que foi adicionado na lista */
#listaProdutos li{    
    background-color: #1f1f1f;
    color: white;
    margin-top: 20px;    
    padding: 20px;
    border-radius: 15px;
}

/* ajusta tamanho, posição e cores do botão salvar */
#salvar {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    margin: 10px;
    margin-left: 30%;
}

/* ajusta tamanho, posição e cores do botão de limpar a lista toda */
#deleteAll {
    cursor: pointer;
    width: 140px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 1.3rem;
    margin: 10px;
    margin-left: 25%;
}

/* ajusta medidas e cores do input de texto */
#produto {
    height: 35px;
    width: 100%;
    border-radius: 15px;
    margin: 10px;
    margin-left: 20px;
    text-align: center;
    background-color: white;
    color: black;
    outline: none;
    font-size: 1.3rem;
}

/* posiciona e ajusta medidas e cores da div principal que recebe os itens da lista */
.conteudo {
    margin: 50px;
    width: 100%;
    max-width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
}

/* ajusta posição, tamanho e cores da caixa de inserção de texto */
#cabecalho {
    padding: 0px;
    width: 50%;
}

/* define o efeito tachado que é chamado no item da lista, quando o checkbox é marcado  */
.line-through {
    text-decoration: line-through;
}

/* posiciona como lado a lado a caixa de input de texto e os botões */
#corpo {
    display: flex;
}