* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;    
    font-size: 1.3rem;
    margin: 0;
    padding: 20px;
    height: 100vh;
    background-repeat: no-repeat;
    background: rgb(232,232,232);
    background: linear-gradient(301deg,
    rgba(232,232,232,1) 0%,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,1) 41%,
    rgb(0, 3, 165) 41%);
}
#header {
    margin: 5px;
    margin-bottom: 25px;
}

#listaProdutos {
    list-style: none;    
    width: 100%;
    max-width: 200px;
}

#listaProdutos li{    
    background-color: black;
    color: white;
    margin-top: 20px;    
    padding: 20px;
    border-radius: 15px;
}

#salvar {
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 1.3rem;
}

#produto {
    height: 35px;
    width: 100%;
    max-width: 60%;
    border-radius: 15px;
    text-align: center;
    background-color: white;
    color: black;
    outline: none;
    font-size: 1.3rem;
}

.conteudo {
    margin: 50px;
    width: 100%;
    max-width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
    
}

#cabecalho {
    padding: 50px;
}